<?xml version="1.0"?>
<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="tigren" translate="label" sortOrder="300">
            <label>Tigren</label>
        </tab>
        <section id="pwa_connector" translate="label" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Catalog GraphQl</label>
            <tab>tigren</tab>
            <resource>Tigren_CatalogGraphQl::catalog_config</resource>
            <group id="general" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General</label>
                <field id="feature_product" type="textarea" translate="label" sortOrder="0" showInDefault="1" showInWebsite="1"
                       showInStore="1">
                    <label>Condition</label>
                </field>
            </group>
        </section>
    </system>
</config>
