<?xml version="1.0"?>
<!--
  ~ /**
  ~  * *
  ~  *  * @author Tigren Solutions <info@tigren.com>
  ~  *  * @copyright Copyright (c) 2019 Tigren Solutions <https://www.tigren.com>. All rights reserved.
  ~  *  * @license Open Software License ("OSL") v. 3.0
  ~  *
  ~  */
  -->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Tigren\PaypalExpress\Api\OnAuthorizationInterface"
                type="Tigren\PaypalExpress\Model\OnAuthorization" />
    <preference for="Tigren\PaypalExpress\Api\Data\PaymentDataInterface"
                type="Tigren\PaypalExpress\Model\Data\PaymentData" />
    <preference for="Tigren\PaypalExpress\Api\Data\TokenDataInterface"
                type="Tigren\PaypalExpress\Model\Data\TokenData" />
    <preference for="Tigren\PaypalExpress\Api\GetTokenDataInterface"
                type="Tigren\PaypalExpress\Model\GetTokenData" />
</config>

