<?xml version="1.0"?>
<!--
  ~ @author Tigren Solutions <info@tigren.com>
  ~ @copyright Copyright (c) 2019 Tigren Solutions <https://www.tigren.com>. All rights reserved.
  ~ @license Open Software License ("OSL") v. 3.0
  -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Tigren_Core::tigren" title="Tigren" module="Tigren_Core" sortOrder="100"
             resource="Tigren_Core::tigren"/>
        <add id="Tigren_Core::information" title="Information" module="Tigren_Core" sortOrder="0"
             parent="Tigren_Core::tigren" resource="Tigren_Core::settings"
             action="adminhtml/system_config/edit/section/tigren_info"/>
    </menu>
</config>